/* GENERAL SETTINGS */ 

*{ 
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  padding: 0;
} 

body { 
  background-color: rgba(0, 255, 255, .4); /* Aqua color */
} 

header, .menu, h1, h2, .introduction p, .button {
  margin-bottom: 1.5rem; /* Vertical rhytm */ 
}

a { 
  text-decoration: none; 
} 
 
/* CANVAS DISPLAYING */

@media (max-width: 1023px) {
  
  #projectionCanvas { 
  display: none; 
  } /* It doesn't make sense to display projection on mobiles and tablets because the header isn't fixed in this case. */

}

/* SETTINGS FOR MOBILES */
 
/* Menu settings */

.menu { 
	padding: 1.5rem 13vw 0;
}

.menu-items {
padding: 0 2vw;
}

.menu-item { 
  border: 1px solid rgb(128, 128, 128); 
  border-radius: 5px; 
  display: inline-block; 
  font-size: 0.85rem; 
  list-style-type: none; 
  margin-bottom: 1rem; 
  margin-right: calc(100% - 62vw);
  padding: 2vw; 
  text-align: center; 
  white-space: nowrap;
  width: 31vw; 
  background-color: lightgreen; 
} 
 
.second-column { 
  margin-right: 0; 
}
 
.final-item { 
  margin: 0 calc((100% - 31vw) / 2);
} 
 
.menu-items a { 
  color: red; 
} 

/* Flags settings */

.flag-container {
	padding: .5rem 0; 
  text-align: center; /* This rule middles the content of the unordered list. */
} 


.flag-container-item {
  display: inline-block; /* Putting the language marker flags in the same row. */
  margin-right: 3vw;
}

.extreme-right-item { 
  margin-right: 0; /* Lifting the margin-right rule from the hungarian flag to put the flags at the center. */
}

.nav-flag {
	height: 1.4rem; /* Setting the same and appropriate size for the flags which don't have the same size originally. */
  width: 2.8rem; /* Setting the same and appropriate size for the flags which don't have the same size originally. */
}

/* Settings for main part */

main div {
  padding: 1.5rem 5vw;
}

.introduction {
  background-color: rgba(217, 179, 255, .8);
}

h1 { 
  font-size: 1.5rem; 
  text-align: center; 
} 

.button {
  background-color: rgb(255, 255, 102);
  border: 1px solid rgb(153, 255, 51);
  border-radius: 20px;
  border-style: double;
  padding: .5rem 3vw;
  text-align: center;
  margin: 0 auto 1.5rem;
  width: 45vw;
}

.introduction p:last-child {
  margin-bottom: 0;
}

.menu-odd {
  background-color: rgba(255, 170, 128, .8);
}

.menu-even {
  background-color: rgba(255, 153, 153, .8);
}

h2 { 
  font-size: 1.25rem; 
  text-align: center; 
} 
 
h2 a { 
  color: red; 
} 
 
p { 
  font-size: 1rem;
}

/* Settings for footer */

footer { 
  background-color: rgba(225, 225, 225, .8); 
  color: green;
  max-height: 3.2rem;
  margin-bottom: 0;
  padding: .8rem 0;
  text-align: center; 
}

footer p {
  font-size: .8rem;
  margin-bottom: 0;
}

/* Hover standings */ 
 
.menu-item:hover { 
  background-color: rgba(0, 255, 0, .8); 
  border: 1px solid green; 
}

.nav-flag:hover {
  box-shadow: .3125rem .3125rem .25rem .25rem rgba(125, 125, 125, .4);
}

.button:hover {
  background-color: rgb(204, 153, 0);
  -webkit-transition-property: background-color; /* Safari */
  -webkit-transition-duration: .3s; /* Safari */
  transition-property: background-color;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-out; /* Google 4.0-25.0, Safari 3.1-6.0 */
  -moz-transition-timing-function: ease-in-out; /* Mozilla 4.0-15.0 */
  -o-transition-timing-function: ease-in-out; /* Opera 10.5-12.0 */
  transition-timing-function: ease-in-out;
}

/* SETTINGS FOR TABLETS */

@media (min-width: 768px) {
 
  .menu-item {
  font-size: 1rem;
  }
  
  .nav-flag {
    height: 2.1rem;
    width: 4.2rem;
  }
  
}