/* GENERAL SETTINGS */

* {
  box-sizing: border-box;
  font-size: 100%;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body  {
  background-color: #40E0D0; /* If the background image is unavailable, turquoise background color will work. */
}

h1, p, nav, li {
  margin-bottom: 1.4rem; /* Vertical rhytm */
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* SETTINGS FOR MOBILES */

/* Covering page */

.cover {
  background-image: url(assets/images/cover-background-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: table;
  font-family: 'Cormorant Garamond', serif;
  height: 100vh;
  text-align: center;
  width: 100vw;
}

.wrapper {
  display: table-cell;
  vertical-align: middle;
}

/* Welcome section */

.welcome h1 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.welcome p {
  font-size: 1.2rem;
}

/* Language changes */

.flag-container-item {
  display: inline-block;
  margin: auto 1rem;
}

/* Table of menu list */

.menu-buttons {
  background-color: rgba(204, 255, 204, .6);
  border: 1px solid rgb(128, 128, 128);
  border-radius: 10px;
  box-shadow: 0px 0px 2px 5px rgb(145, 145, 145);
  margin: 0 19.5vw;
  padding: 1.4rem 0 0;
  width: 60vw;
}

.button {
  background-color: rgb(102, 255, 102);
  border: 1px solid #000000;
  border-radius: 4px;
  color: #000000;
  display: block;
  font-weight: 700;
  margin: 0 auto;
  max-width: 38vw;
  padding: .4rem .3rem;
  white-space: nowrap;
  vertical-align: middle;
}

/* "Continue" button */

.next {
  -webkit-animation: mymove 1.5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 1.5s infinite;
  background-color: rgb(0, 255, 255);
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 1.4rem 24.5vw 0;
  max-height: 2rem;
  padding: .4rem 0;
  width: 50vw;
}

.next a {
  color: #000000;
  font-weight: 700;
  line-height: 1rem;
}

/* Animation of .next class border */

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    50% {border: 1px solid rgb(0, 255, 255);}
}

@keyframes mymove {
    50% {border: 1px solid rgb(0, 255, 255);}
}

/* Hover standings */

.button:hover {
  background-color: rgb(0, 128, 0);
}

.next:hover {
  -webkit-animation: none 0 ease; /* Safari 4.0 - 8.0 */
  animation: none 0 ease; /* Suspending animation on hover standing. */
  background-color: rgb(0, 153, 153);
}

/* SETTINGS FOR SPECIAL MOBILE SIZES */

@media (max-height: 640px) { /* Galaxy S5, iPhone 5/SE */
  
  h1, p, nav, li {
    margin-bottom: .8rem;
  }
  
  body {
    height: 100vh;
  }
  
  .welcome h1 {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  
  .welcome p {
    font-size: 1rem;
  }
  
  .menu-buttons {
    margin-bottom: .6rem;
    padding: .8rem 0 0;
  }
  
  .button {
    max-width: 38vw;
  }
  
  .next {
    margin-top: .8rem;
  }
}

/* SETTINGS FOR SMALLER DESKTOP */

@media (min-width: 1024px) {
 
  h1, p, nav, li {
    margin-bottom: 1.9rem;
  }

  .welcome h1 {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  
  .welcome p {
    font-size: 1.5rem;
  }
  
  .button {
    font-size: 1.2rem;
    max-width: 30vw;
  }
  
  .next {
    height: 2.4rem;
    margin: 1.9rem 29.5vw 0;
    width: 40vw;
  }
  
  .next a {
    font-size: 1.2rem;
  }
  
}

/* SETTINGS FOR LARGER DESKTOP */

@media (min-width: 1280px) {
  
  h1, p, nav, li {
    margin-bottom: 2.5rem;
  }
  
  .welcome h1 {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  
  .welcome p {
    font-size: 2rem;
  }
  
  .menu-buttons {
    margin: 0 24.8vw;
    padding: 2.5rem 0 0;
    width: 50vw;
  }
  
  .menu-buttons li {
    display: inline-block;
    margin: 0 2vw 2.5rem 2vw;
    width: 16vw;
  }
  
  .next {
    height: 2.3rem;
    margin: 2.5rem 39.5vw 0;
    max-height: 2.6rem;
    width: 20vw;
  }
  
  .next a {
    font-size: 1.3rem;
  }
  
}

/* SETTINGS FOR EXTRA LARGE DESKTOP */

@media (min-width: 1920px) {
  
  h1, p, nav, li {
    margin-bottom: 4rem;
  }
  
  .welcome h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  
  .welcome p {
    font-size: 3rem;
  }
  
  .nav-flag {
    height: 60px;
    width: 120px;
  }
  
  .button {
    font-size: 2rem;
  }
  
  .next {
    height: 4rem;
    max-height: 4rem;
    margin-top: 4rem;
    padding: .8rem 0;
  }
  
  .next a {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
}